    <div class="credits text-center">
        <p>
            <a href="https://github.com/StarRUC/HappyTimeRestaurant">Happy Time Restaurant Project</a>
        </p>
        <p>
            <br><b>@Copyright: CMPE281, SJSU, Spring 2016</b></br>
            <!--<br>Team Members: </br>-->
            <br>Jiongfeng Chen, Yuanyuan Jia, Xiaotong Wang, Xing Yang, Xingxing Ju</br>
        </p>
    </div>
</body>
</html>