    <div class="credits text-center">
        <p>
            <a href="https://github.com/StarRUC/HappyTimeRestaurant">Happy Time Restaurant Project</a>
        </p>
        <p>
            <a href="http://localhost:3000">HappyTimeRestaurant.com</a>
        </p>
        <p>
            @Copyright: CMPE281, SJSU, Spring 2016
            Team Members:
            Jiongfeng Chen
            Yuanyuan Jia
            Xiaotong Wang
            Xing Yang
            Xingxing Ju
        </p>
    </div>
</body>
</html>