<!DOCTYPE html>
<html lang="en" ng-app = 'payment'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../js/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="../js/jquery.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <!--<link href="../css/bootstrap.min.css" rel="stylesheet">-->
    <!--<script src="../js/bootstrap.min.js"></script>-->
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../js/holder.min.js"></script>
    <script src="../js/ie10-viewport-bug-workaround.js"></script>

    <script type = text/javascript src = "../controller/payment_controller.js"></script>
    <!--<script type = text/javascript src = "../controller/shopping_cart_controller.js"></script>-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <title>Payment</title>



    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../css/carousel.css" rel="stylesheet">
</head>
<body ng-controller = 'payment_controller as pc' ng-init = 'getSelectedItems()'>
{{variable1}}
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Happy Time Restaurant {{variable1}}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <!--<li><a href="#about">Menu</a></li>-->
                        <!--<li><a href="#contact">Contact</a></li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Starter</a></li>
                                <li><a href="#">Main course</a></li>
                                <li><a href="#">Noodle</a></li>
                                <li><a href="#">Rice</a></li>
                                <li><a href="#">Beverage</a></li>
                                <li><a href="#">Dessert</a></li>
                                <li><a href="#">Soup</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">All</a></li>
                                <!--<li class="dropdown-header">Nav header</li>-->
                                <!--<li><a href="#">Separated link</a></li>-->
                                <!--<li><a href="#">One more separated link</a></li>-->
                            </ul>
                            <!--starter, main course, noodle, rice, beverage, dessert, soup-->

                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> My Shopping Cart</a></li>

                        <li><a href="#">Profile</a></li>
                        <!--<li><a href="#">Contact</a></li>-->


                        <li><a href="#">Sign Out</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
            </div>
        </nav>

    </div>
</div>

<div class = payment-content>
    <!--<div class="progress" ng-hide = "complete">-->
    <!--<div  class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{{progressStyle}}">-->
    <!--{{progress}}-->
    <!--</div>-->
    <!--</div>-->
    <div class="panel panel-default" ng-show = "pageCtrl == 0">
        <div class="panel-heading">
            <span class = 'pull-right' ng-click = "addNewAddress = true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp Use New Address</span>
            <h3 class="panel-title">Select a Shipping Address</h3>


            <!--glyphicon glyphicon-plus-->
        </div>
        <div class="panel-body">
            <span ng-hide = 'addNewAddress'>
            <ul class="list-group" >
                <li class="list-group-item" ng-repeat = 'address in pc.addresses track by $index'>
                    <span class = 'pull-right'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></span>
                    <input type="radio" name = 'anything' ng-model="anynum" ng-value = '$index' ng-change = 'debug()'>
                    &nbsp {{address.receiver}}
                    &nbsp {{address.address}}
                    &nbsp {{address.state}}
                    &nbsp {{address.zipcode}}
                    &nbsp {{address.phone}}
                </li>
            </ul>
                <br><button type="button" class="btn btn-default" ng-click = "pageCtrl = pageCtrl + 1">Ship to this Address</button>

            </span>

            <div>
                <!--<button type="button" class="btn btn-default" ng-click = "addNewAddress = true">Add a new address</button>-->

                <form ng-show = "addNewAddress">
                    <h4>Add a new address</h4>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1" >Full Name</span>
                        <input type="text" ng-model = 'newAddress.receiver' class="form-control"  aria-describedby="basic-addon1" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Address line 1</span>
                        <input type="text" ng-model = 'newAddress.address1' class="form-control" placeholder="Street address, P.O.box, company name, c/o " aria-describedby="basic-addon1" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Address line 2</span>
                        <input type="text" ng-model = 'newAddress.address2' class="form-control" placeholder="Appartement, suite, unit, buliding, floor, etc" aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon4">City</span>
                        <input type="text" ng-model = 'newAddress.city' class="form-control" aria-describedby="basic-addon1" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon5">State/Province/Region</span>
                        <input type="text" ng-model = 'newAddress.state'  class="form-control" aria-describedby="basic-addon1" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon7">ZIP</span>
                        <input type="text" ng-model = 'newAddress.zip' class="form-control" aria-describedby="basic-addon1" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon6">Phone-Number</span>
                        <input type="text" ng-model = 'newAddress.phone' class="form-control" aria-describedby="basic-addon1" required>
                    </div>
                    <br>

                    <button type="button" class="btn btn-default" ng-click = 'addAddress()' >Ship to this Address</button>
                    <button type="button" class="btn btn-default" ng-click = "cancelAddNewAddress()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="panel panel-default" ng-show = "pageCtrl == 2">
        <div class="panel-heading">
            <h3 class="panel-title">Select a Payment Method</h3>
        </div>
        <div class="panel-body">
            <br>
            <h4>Current Total is $ 10.00</h4>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr>

                    <th>Your credit and debit cards</th>
                    <th>Name on card</th>
                    <th>Expires on</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="radio" aria-label="...">&nbsp &nbsp<b>Discover</b> ending in 1234</td>
                    <td>Judy Hops</td>
                    <td>judy.hops@sjsu.edu</td>
                </tr>
                </tbody>
            </table>
            <br>
            <button type="button" class="btn btn-default" ng-click = "addCart = true" >Add a new Card</button>
            <br>
            <form ng-show = "addCart" >
                <table class="table" >
                    <thead>
                    <tr>
                        <th>Name on card</th>
                        <th>Card Number</th>
                        <th>Expiration date</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>

                        <td><input type="text"  style = "width: 300px" aria-describedby="basic-addon1"></td>
                        <td><input type="text"  style = "width: 300px" aria-describedby="basic-addon1"></td>
                        <td><input type="text"  style = "width: 300px" placeholder="mm/yyyy" aria-describedby="basic-addon1"></td>
                    </tr>
                    </tbody>
                </table>
            <span class = "pull-right">
                <button type="button" class="btn btn-default">Cancel</button>
                 &nbsp
            <button type="button" class="btn btn-default">Add Your Card</button>
            </span>
            </form>
        </div>
    </div>


    <div class="panel panel-default" ng-show = "pageCtrl == 1">
        <div class="panel-heading">
            <h3 class="panel-title">Verify Your Order</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Dish Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Yu Xiang Rou Si</td>
                    <td>1</td>
                    <td>$ 10.00</td>
                </tr>
                </tbody>
            </table>
            <br>
            <h5>Ship To:</h5>
            <br>Judy Hops
            <br>34 Union Sq Apt 666
            <br>Union City, California 94169
            <br>United States
            <br>Phone: 4081234567


            <span class = "pull-right">
            <button type="button" class="btn btn-default">Cancel</button>
            &nbsp
            <button type="button" class="btn btn-default">Finish</button>
                </span>
        </div>
    </div>

    <div class="panel panel-default" ng-show = "pageCtrl == 3">
        <div class="panel-heading">
            <h3 class="panel-title">Payment Accepted!</h3>
        </div>
        <div class="panel-body">
            <h3>Your Food is on its way! Thank you !</h3>
            <br>
            <br>
            <a>make another order</a>
        </div>
    </div>
    <nav>
        <ul class="pager">
            <li ng-hide = "complete" ng-class="previousClass" ng-click = "back()"><a href="#"><span aria-hidden="true">&larr;</span>Previous</a></li>
            <li ng-hide = "complete" class="next" ng-click = "continue()"><a href="#">Next<span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>








<div class = back-up>
    <a href="#">
        <button type="button" class="btn btn-default">

            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>

        </button>
    </a>
</div>


<!--<hr class="featurette-divider">-->
<!-- FOOTER -->
<!--<footer >-->
<!--<p style = "position: absolute; bottom: 30px; left: 30px">&copy; CMPE281 Group 6 Team Project. &middot;<a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
<!--<p style = "position: absolute; bottom: 30px; right: 70px"><a href="#">Back to top</a></p>-->
<!--</footer>-->
<!-- /.container -->


</body>
</html>